<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-grey-3 divider-grey relative">

	<ul class="flex b white justify-between center mr4">
		<li><a href="/" class="pa3 no-underline db">Home</a></li>
		<li><a href="/docs" class="pa3 no-underline db">Docs</a></li>
		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>
		<li><a href="/forums" class="pa3 no-underline db">Forums</a></li>
		<li><a href="/sign-in" class="pa3 no-underline db">Sign-in</a></li>
	</ul>

</nav>
